@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Firefox-specific column fixes */
@-moz-document url-prefix() {
  .columns-1 { column-count: 1; }
  .columns-2 { column-count: 2; }
  .columns-4 { column-count: 4; }
}